<!-- 動的に変わる部分（ブログのリスト） -->
{% extends "app/base.html" %}

{% block content %}

<div class="row my-4">
    <div class="col-md-8">
        {% for post in post_data %}
            <div class="card md-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text">{{ post.content|truncatechars:100 }}</p> <!-- テンプレートフィルターを使用してテンプレート上でデータを制御できる（本文を100文字に制限する） -->
                    <a href="{% url 'post_detail' post.id %}" class="stretched-link">
                        <div class="btn btn-warning">詳細</div>
                    </a>
                </div>
                <div class="card-footer text-muted">
                    {{ post.created|date }} by {{ post.author }} <!-- 日付と筆者 -->
                </div>
                <!-- <a href="{% url 'post_detail' post.id %}" class="stretched-link"></a> -->
            </div>
        {% endfor %}
    </div>
    <div class="col-md-4">
        <div class="card">
            <h5 class="card-header">このチュートリアルについて</h5>
            <div class="card-body">
                <p>ステップ１</p>
                <p class="mb-0">
                    こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}